<!DOCTYPE html>
<html>
  <body>
    <div id="container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
